<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProSkillFinder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos2.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="logos/casacasa.png"  width="30" height="30" class="d-inline-block align-top">
        </a>
        <a class="navbar-brand" href="logos/casacasa.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                  <a class="nav-link active" href="/">Inicio</a>
                  <a class="nav-link" href="/proveedor/buscador">Buscar</a>
                  <a class="nav-link" href="/registrar">no anda</a>
                  <a class="nav-link" href="/proveedor/registrar">Registro Proveedor</a>
                  <a class="nav-link" href="/login">Login</a>
              </div>
          </div>
      </div>
  </nav>

  <h1 class="titulo1">"¡Somos la Solución Integral para el Hogar "</h1> 





  <h4>Destacamos los servicios:</h4>
  <br>
  <h4>Mantenimiento y Reparaciones:</h4>
  <br>
  <p>Desde instalaciones eléctricas y plomería hasta trabajos de carpintería y pintura, nuestros expertos
  están a tu disposición para mantener todo en perfecto estado.</p>
  <br>

  <h4>Limpieza Profesional: </h4><br> Nuestro equipo de limpieza se encargará de dejar tus espacios relucientes. 
  Ofrecemos limpieza de oficinas, hogares, y mucho más. <br>

  <h4>Jardinería y Paisajismo:</h4> <br> Transforma tu jardín en un paraíso verde con nuestros servicios de jardinería y paisajismo. Desde el diseño hasta el mantenimiento, hacemos que tus espacios exteriores sean impresionantes.

  <h4>Servicios de Techado y Reparación:</h4> br Protege tu inversión con nuestros servicios de techado y reparación. Estamos listos para enfrentar cualquier desafío relacionado con techos.

  <h4>Piscinas y Espacios de Agua:</h4> br Mantenemos tu piscina en condiciones óptimas y también ofrecemos servicios de construcción y renovación de áreas de agua.

  ¿Por qué elegirnos?

  Profesionales Altamente Calificados: Contamos con un equipo de expertos en cada área de servicio.

  Precios Competitivos: Ofrecemos calidad premium a precios asequibles.

  Atención Personalizada: Entendemos tus necesidades y personalizamos nuestros servicios para satisfacerlas.

  Compromiso con la Calidad: No descansamos hasta que estés 100% satisfecho con nuestros servicios.

  Contacto:

  Llama ahora al [Número de Teléfono] o visítanos en [Dirección]. Estamos disponibles para ayudarte con todos tus servicios generales. ¡[Nombre de tu Empresa] - Tu socio de confianza!

  Llamado a la Acción:

  No pierdas más tiempo. ¡Contáctanos hoy para obtener una cotización gratuita y comenzar a mejorar tus espacios!



  <div class="transicion1">
    <ul>

          <li>

            <img src="img/obreros.jpg" alt="">
        </li>

        <li>

          <img src="img/obreros.jpg" alt="">
        </li>

        <li>
          <img src="img/obreros.jpg" alt="">
        </li>

        <li>
          <img src="img/obreros.jpg" alt="">
        </li>

        <li>
          <img src="img/obreros.jpg" alt="">
        </li>

        <li>
          <img src="img/obreros.jpg" alt="">
        </li>
        <li>
          <img src="img/obreros.jpg" alt="">
        </li>
        <li>
          <img src="img/obreros.jpg" alt="">
        </li>
      </ul>
  </div>
      <div class="button-container">
        <a href="/" class="button">Botón 1</a>
        <a href="enlace2.html" class="button">Botón 2</a>
      </div> <!-- ESTE CONTENEDOR ES BOTONES  ABAJO-->




<a class="arriba" href="#arriba">Ir arriba</a><br>
<br>

    <footer class="pie">
      <div class="texto-pie">
        <p>ubicacion - chacras de coria -Mendoza</p>
      </div>
      <div class="redes-sociales">
        <a href="https://www.facebook.com/" target="_blank"
          ><img src="logos/facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><img src="logos/instagram.png" alt="Instagram"></a>
        <a href="https://twitter.com/" target="_blank"
          ><img src="logos/twitter.png" alt="Twitter"></a>
        <p></p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
