<!DOCTYPE html>

<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Orden creada</div>
        <div>aca van todas las ordenes</div>

        <span
            th:if="${session.personasession != null}"
            th:text=" 'BIENVENIDO ' + ${ session.personasession.nombre } + ' rol '+ ${ session.personasession.rol } "
            ></span>
        
        <span sec:authorize="hasRole('PROVEEDOR')">
            hola
            </span>
        <table>
            <h3>Listado de orden</h3>
            <thead>
                <tr>
                    <th scope="col">id Orden</th>
                    <th scope="col">Nombre Usuario</th>                    
                    <th scope="col">Nombre Proveedor</th>
                    <th scope="col">Descripcion del trabajo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Cotizacion</th>                     
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody th:each="orden : ${listaOrdenes}">
            <th th:text="${orden.id}"></th>
            <td th:text="${orden.usuario.nombre}"></td>
            <td th:text="${orden.proveedor.nombre}"></td>
            <td th:text="${orden.comentario}"></td>
             <td th:text="${orden.estadOrden}"></td>
             <td > 
            
            <form th:if="${orden.getEstadOrden().toString() == 'COTIZANDO'}" th:action="@{/orden/cotizacion/__${orden.id}__}" method="POST">
          <div class="textoOT">            
             <input
                type="number"
                class="form-control p-4"
                placeholder="Ingresa el valor de la cotización"
                name="valor"
                required="required"
              />
            
            <div class="boton">
              <button class="btn btn-primary btn-block py-3" type="submit">
                Enviar Cotización
              </button>
            </div>
          </div>
        </form>
        </td>
        <td>
              <a th:if="${orden.getEstadOrden().toString() == 'ACTIVA'}"  th:href="@{/orden/finalizar/__${orden.id}__}" >Finalizar</a>
            </td>
        </tbody>
        </table>
    </body>


<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
</ul>

</html>
