<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Modificar proveedor</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/formulario.css" />
  </head>
  <body>
    <div class="container-fluid m-5 contenedor">
      <form
        class="formulario"
        th:object="${proveedor}"
        th:action="@{/proveedor/perfil/__${proveedor.id}__}"
        method="POST"
        enctype="multipart/form-data"
      >
        <input hidden th:value="${id}" name="id" />

        <div class="form-group my-3">
          <h3 class="card-title">Editar Proveedor</h3>
        </div>

        <br />

        <label class="textofp" for="nombre">Nombre:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          th:value="${proveedor.nombre}"
          required
        /><br />

        <label class="textofp" for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          th:value="${proveedor.email}"
          required
        /><br />

        <label class="textofp" for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required /><br />

        <label class="textofp" for="password2">Repita su contraseña:</label>
        <input type="password" id="password2" name="password2" required /><br />

        <label class="textofp" for="telefono">Telefono:</label>
        <input
          type="number"
          id="telefono"
          name="telefono"
          th:value="${proveedor.telefono}"
          required
        /><br />

        <label class="textofp" for="direccion">Direccion:</label>
        <input
          type="text"
          id="direccion"
          name="direccion"
          th:value="${proveedor.direccion}"
          required
        /><br />

        <label class="textofp" for="honorarioHora">Honorario por Horas:</label>
        <input
          type="number"
          id="honorarioHora"
          name="honorarioHora"
          th:value="${proveedor.honorarioHora}"
          required
        /><br />

        <label class="textofp" for="rubro">selecciona un rubro:</label>
        <select id="rubro" name="rubro" th:field="*{rubro}">
          <option value="Jardinero">Jardinero</option>
          <option value="Chapista">Chapista</option>
          <option value="Piletero">Piletero</option>
          <option value="Salidor">Salidor</option>
          <option value="Limpieza">Limpieza</option>
        </select>

        <!--
        <label class="textofp" for="rubro">rubro:</label>
        <input
          type="text"
          id="rubro"
          name="rubro"
          th:value="${proveedor.rubro}"
          required
        />
        <br />
-->
        <br />
        <label for="presentacion" id="pres">presentacion:</label>
        <textarea
          id="presentacion"
          name="presentacion"
          rows="4"
          th:value="${proveedor.presentacion}"
          required
        ></textarea>

        <label class="textofp" type="file">Foto de perfil</label>
        <input class="textofp" type="file" name="archivo" />
        <br />

        <button type="submit" class="btn btn-primary mt-3 botones">
          Actualizar
        </button>
      </form>

      <section class="text-center container">
        <div class="row mt-3">
          <div class="divVolver">
            <a
              th:href="@{/inicio}"
              class="btn btn-secondary my-2 botonVolver botones"
              >Volver</a
            >
          </div>
        </div>
      </section>
    </div>

    <footer class="text-muted py-5">
      <div class="containerFooter">
        <p class="mb-1">
          Album example is &copy; Bootstrap,<br />but please download and
          customize it for yourself!
        </p>
        <p class="mb-0">
          New to Bootstrap? <a href="/"><br />Visit the homepage</a> or read our
          <a href="../getting-started/introduction/">getting started guide</a>.
        </p>
        <p class="float-end mb-1">
          <a href="#" style="text-decoration: none"
            ><span>â¬ï¸</span> Back to top</a
          >
        </p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
