<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <select name="Rubro">
        <option>Construccion</option>
        <option>Electricidad</option>
        <option>Plomeria</option>
        <option>Cerrajeria</option>
        <option>Vidrieria</option>
        <option>Jaedineria</option>
        <option>Parquizacion</option>
        <option>Piscina</option>
        <option>Limpieza</option>
    </select>
</body>
</html>